<template>
  <section class="colored section">
    <div class="columns is-centered">
      <div class="column is-6-desktop is-10-tablet is-12-mobile">
        <h1 class="title">Nuevo Ejecutivo Internacional</h1>
        <p>
          1. Introduzca los datos del nuevo Ejecutivo Internacional para acceder
          al área privada NewFranquicia.
        </p>
        <br />
        <p>
          2. La información que proporcione será procesada adecuadamente dentro
          de nuestra Firma.
        </p>
        <br />
        <p>
          3. Este formato únicamente acpepta registro de datos para acceder al
          área privada de NewFranquicia y que podamos ofrecerle nuestros
          servicios.
        </p>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(validateBeforeSubmit)">
            <b-field grouped group-multiline class="section">
              <h2 class="title">Datos del nuevo ejecutivo</h2>
              <p>Los campos marcados con asterisco (*) son obligatorios.</p>

              <br />
              <br />
              <b-field grouped>
                <b-field label="Nombre">
                  <ValidationProvider name="Name" rules="required|alpha" v-slot="{ errors }">
                    <b-input expanded v-model="newExecutiveData.firstName"></b-input>
                    <p v-show="errors.length" class="help is-danger">Nombre no válido</p>
                  </ValidationProvider>
                </b-field>

                <b-field label="Apellidos">
                  <ValidationProvider name="Surname" rules="required|alpha" v-slot="{ errors }">
                    <b-input expanded v-model="newExecutiveData.lastName"></b-input>
                    <p v-show="errors.length" class="help is-danger">Apellido no válido</p>
                  </ValidationProvider>
                </b-field>
              </b-field>
              <b-field grouped>
                <b-field label="Profesión">
                  <ValidationProvider name="Profession" rules="required|alpha" v-slot="{ errors }">
                    <b-input expanded v-model="newExecutiveData.profession"></b-input>

                    <p v-show="errors.length" class="help is-danger">Profesión no válida</p>
                  </ValidationProvider>
                </b-field>

                <b-field label="Ciudad">
                  <b-input expanded v-model="newExecutiveData.city"></b-input>
                </b-field>
              </b-field>
              <b-field grouped>
                <b-field label="Teléfono">
                  <b-input expanded v-model="newExecutiveData.telephone"></b-input>
                </b-field>

                <b-field label="País">
                  <ValidationProvider name="Country" rules="required|alpha" v-slot="{ errors }">
                    <b-input expanded v-model="newExecutiveData.country"></b-input>

                    <p v-show="errors.length" class="help is-danger">País no válido</p>
                  </ValidationProvider>
                </b-field>
              </b-field>
              <b-field grouped>
                <b-field label="Red Social">
                  <b-input expanded v-model="newExecutiveData.socialNetwork"></b-input>
                </b-field>

                <b-field label="Email">
                  <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                    <b-input expanded v-model="newExecutiveData.email"></b-input>

                    <p v-show="errors.length" class="help is-danger">Email no válido</p>
                  </ValidationProvider>
                </b-field>
              </b-field>
            </b-field>
            <section class="section">
              <h2 class="title">Datos de acceso del ejecutivo</h2>
              <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                <b-field label="Email Corporativo">
                  <b-input v-model="email"></b-input>
                </b-field>
                <p v-show="errors.length" class="help is-danger">Email no válido</p>
              </ValidationProvider>

              <ValidationProvider
                name="Password"
                rules="required"
                v-slot="{ errors }"
                vid="password"
              >
                <b-field label="Contraseña">
                  <b-input v-model="password" type="password"></b-input>
                </b-field>
                <p v-show="errors.length" class="help is-danger">Contraseña no válida</p>
              </ValidationProvider>
              <ValidationProvider
                name="Password"
                rules="required|confirmed:password"
                v-slot="{ errors }"
              >
                <b-field label="Verifique su contraseña">
                  <b-input v-model="passwordConfirmation" type="password"></b-input>
                </b-field>
                <p v-show="errors.length" class="help is-danger">Las contraseñas no coinciden</p>
              </ValidationProvider>
            </section>

            <section class="section">
              <h1 class="title">Franquicia</h1>
              <br />
              <b-field grouped class="inner">
                <b-field>
                  <ValidationProvider name="Franchise Type" rules="required" v-slot="{ errors }">
                    <b-select v-model="franchiseType" placeholder="Tipo">
                      <option v-for="type in franchiseTypes" :key="type">{{ type }}</option>
                    </b-select>
                    <p v-show="errors.length" class="help is-danger">Seleccione tipo</p>
                  </ValidationProvider>
                  <ValidationProvider name="Start date" rules="required" v-slot="{ errors }">
                    <b-datepicker v-model="startDate" placeholder="Inicio"></b-datepicker>
                    <p v-show="errors.length" class="help is-danger">Seleccione fecha de inicio</p>
                  </ValidationProvider>
                  <ValidationProvider name="Duration" rules="required" v-slot="{ errors }">
                    <b-select v-model="duration" placeholder="Duración">
                      <option v-for="duration in durations" :key="duration">{{ duration }}</option>
                    </b-select>
                    <p v-show="errors.length" class="help is-danger">Seleccione fecha de inicio</p>
                  </ValidationProvider>
                </b-field>
              </b-field>
            </section>

            <b-field grouped group-multiline class="section">
              <div class="field">
                <b-checkbox v-model="receiveCorporateBefit">Recibir prestación corporativa</b-checkbox>
              </div>

              <ValidationProvider
                rules="required"
                name="Privacy Policy Acceptance"
                v-slot="{ errors }"
              >
                <div class="field">
                  <b-checkbox v-model="privacyPolicyAcceptance">
                    Acepto la Política de Privacidad, Términos y
                    Condiciones
                  </b-checkbox>
                  <p v-if="errors.length" class="help is-danger">Seleccione para continuar</p>
                </div>
              </ValidationProvider>

              <div class="field">
                <b-checkbox v-model="newsletterSubsctiption">Quiero suscribirme a Newsletter</b-checkbox>
              </div>
            </b-field>

            <b-button native-type="submit" class="is-pulled-right" type="is-primary">Enviar</b-button>
          </form>
        </ValidationObserver>
      </div>
    </div>

    <b-modal :active.sync="isCardModalActive" :width="640" scroll="keep">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src alt="Logo" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src alt="Envelop" />
              </figure>
            </div>
            <div class="content">
              <p>Bienvenido/a,</p>
              <p>
                Le acabamos de enviar a su email los datos de acceso como
                Ejecutivo Internacional de Newfranquicia by Ecobanka.
              </p>
              <p>Gracias por unirse a NewFranquicia y ayudarmnos a fomentar la Agenda 2030.</p>
              <p>Atentamente</p>
              <p>The Team</p>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </section>
</template>
<script>
import { ValidationProvider, extend, ValidationObserver } from "vee-validate";
import {
  required,
  alpha,
  numeric,
  email,
  confirmed
} from "vee-validate/dist/rules";

extend("required", {
  ...required
});

extend("alpha", {
  ...alpha
});

extend("numeric", {
  ...numeric
});

extend("email", {
  ...email
});

extend("confirmed", {
  ...confirmed
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      newExecutiveData: {
        firstName: null,
        lastName: null,
        profession: null,
        city: null,
        telephone: null,
        country: null,
        socialNetwork: null,
        email: null
      },
      email: null,
      password: null,
      passwordConfirmation: null,
      franchiseTypes: ["MASTER", "CORNER", "PREMIUM", "CITY"],
      franchiseType: null,
      startDate: null,
      durations: ["1 mes", "6 meses", "1 año", "2 años", "5 años"],
      duration: null,
      contract: null,
      receiveCorporateBefit: null,
      privacyPolicyAcceptance: null,
      newsletterSubsctiption: null,
      choices: null,
      isCardModalActive: false
    };
  },
  methods: {
    validateBeforeSubmit() {
      this.$data.isCardModalActive = true;
      console.log(this.$data);
    }
  }
};
</script>

<style scoped></style>
