<template>
  <section class="colored section">
    <h1 class="title has-text-centered">Nuevo proyecto de emprendedor o compañía directa</h1>
    <br />
    <div class="columns is-centered">
      <b-steps :has-navigation="hasNavigation" v-model="step">
        <b-step-item label="Detalles básicos">
          <BasicDetails @next="nextStep" />
        </b-step-item>
        <b-step-item label="Información de contacto">
          <ContactInfo @next="nextStep" @previous="previousStep" />
        </b-step-item>
        <b-step-item label="Detalles financieros">
          <FinancialDetails @next="nextStep" @previous="previousStep" />
        </b-step-item>
        <b-step-item label="Detalles financieros">
          <UploadFiles @previous="previousStep" />
        </b-step-item>
      </b-steps>
    </div>
  </section>
</template>
<script>
import BasicDetails from "@/components/BasicDetails.vue";
import ContactInfo from "@/components/ContactInfo.vue";
import FinancialDetails from "@/components/FinancialDetails.vue";
import UploadFiles from "@/components/UploadFiles.vue";

export default {
  components: {
    BasicDetails,
    ContactInfo,
    FinancialDetails,
    UploadFiles
  },
  data() {
    return {
      step: 0,
      hasNavigation: false
    };
  },
  methods: {
    validateBeforeSubmit() {
      console.log(this.$data);
    },
    nextStep() {
      this.step++;
    },
    previousStep() {
      this.step--;
    }
  }
};
</script>

<style scoped></style>
