<template>
  <section class="colored section">
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(validateBeforeSubmit)">
        <h2 class="title">1 Detalles básicos</h2>
        <p>Los campos marcados con asterisco (*) son obligatorios.</p>

        <br />
        <br />
        <b-field grouped>
          <b-field expanded label="Nombre de la compañía*">
            <ValidationProvider name="Name" rules="required|alpha" v-slot="{ errors }">
              <b-input expanded v-model="company.name"></b-input>
              <p v-show="errors.length" class="help is-danger">Nombre no válido</p>
            </ValidationProvider>
          </b-field>

          <b-field expanded label="Fecha fundación*">
            <ValidationProvider name="Fundation date" rules="required" v-slot="{ errors }">
              <b-datepicker expanded icon="calendar" v-model="company.fundationDate"></b-datepicker>
              <p v-show="errors.length" class="help is-danger">Seleccione fecha de fundación</p>
            </ValidationProvider>
          </b-field>
        </b-field>
        <b-field grouped>
          <b-field expanded label="Tamaño del equipo*">
            <ValidationProvider name="Team size" rules="required|numeric" v-slot="{ errors }">
              <b-input expanded v-model="company.timeSize"></b-input>

              <p v-show="errors.length" class="help is-danger">Tamaño del equipo no válido</p>
            </ValidationProvider>
          </b-field>

          <b-field expanded label="Sector*">
            <ValidationProvider name="Sector" rules="required" v-slot="{ errors }">
              <b-select expanded v-model="company.sector">
                <option v-for="sector in sectors" :key="sector">
                  {{
                  sector
                  }}
                </option>
              </b-select>
              <p v-show="errors.length" class="help is-danger">Seleccione sector</p>
            </ValidationProvider>
          </b-field>
        </b-field>

        <b-field grouped>
          <b-field expanded label="Actividad en sector*">
            <ValidationProvider name="Activity in sector" rules="required" v-slot="{ errors }">
              <b-select expanded v-model="company.activityInSector">
                <option v-for="activity in activities" :key="activity">
                  {{
                  activity
                  }}
                </option>
              </b-select>
              <p v-show="errors.length" class="help is-danger">Seleccione actividad</p>
            </ValidationProvider>
          </b-field>
        </b-field>
        <b-field label="Propuesta de lanzamiento">
          <b-input expanded v-model="proposal"></b-input>
        </b-field>
        <b-field label="Descripción breve de tu propuesta">
          <b-input expanded v-model="proposalDescription" type="textarea"></b-input>
        </b-field>

        <b-field grouped>
          <b-field expanded label="Website URL">
            <b-input expanded v-model="website"></b-input>
          </b-field>

          <b-field expanded label="Enlace video">
            <b-input expanded v-model="videoLink"></b-input>
          </b-field>
        </b-field>
        <b-field label="Los 3 competidores principales">
          <b-input expanded v-model="competitors"></b-input>
        </b-field>
        <b-field grouped>
          <b-field label="¿Ya tienes ingresos?" grouped>
            <div class="block">
              <b-radio v-model="alreadyIncome" native-value="true">Sí</b-radio>
              <b-radio v-model="alreadyIncome" native-value="false">No</b-radio>
            </div>
          </b-field>
          <b-field label="¿Tienes clientes?" grouped>
            <div class="block">
              <b-radio v-model="alreadyClients" name="name" native-value="true">Sí</b-radio>
              <b-radio v-model="alreadyClients" name="name" native-value="false">No</b-radio>
            </div>
          </b-field>
        </b-field>
        <b-button class="is-pulled-left" @click.prevent="save">Guardar</b-button>
        <b-button class="is-pulled-right" type="is-primary" native-type="submit">Siguiente</b-button>
      </form>
    </ValidationObserver>
  </section>
</template>
<script>
import { ValidationProvider, extend, ValidationObserver } from "vee-validate";
import {
  required,
  alpha,
  numeric,
  email,
  confirmed
} from "vee-validate/dist/rules";

extend("required", {
  ...required
});

extend("alpha", {
  ...alpha
});

extend("numeric", {
  ...numeric
});

extend("email", {
  ...email
});

extend("confirmed", {
  ...confirmed
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      company: {
        name: null,
        fundationDate: null,
        teamSize: null,
        sector: null,
        activityInSector: null
      },
      proposal: null,
      proposalDescription: null,
      website: null,
      videoLink: null,
      competitors: null,
      alreadyIncome: null,
      alreadyClients: null,
      sectors: ["sector 1", "sector 2", "sector 3", "sector 4"],
      activities: ["actividad 1", "actividad 2", "actividad 3", "actividad 4"]
    };
  },
  methods: {
    validateBeforeSubmit() {
      console.log(this.$data);
      this.$emit("next");
    },

    save() {
      console.log("saved");
    }
  }
};
</script>

<style scoped></style>
