<template>
  <section class="colored section">
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(validateBeforeSubmit)">
        <h2 class="title">2 Información de contacto</h2>
        <p>Los campos marcados con asterisco (*) son obligatorios.</p>

        <br />
        <br />
        <b-field grouped>
          <b-field expanded label="Detalles del fundador*">
            <b-field expanded>
              <ValidationProvider name="Name" rules="required|alpha" v-slot="{ errors }">
                <b-input expanded v-model="founder.name" placeholder="Nombre"></b-input>
                <p v-show="errors.length" class="help is-danger">Nombre no válido</p>
              </ValidationProvider>
            </b-field>
            <b-field expanded>
              <ValidationProvider name="Surname" rules="required|alpha" v-slot="{ errors }">
                <b-input expanded v-model="founder.surname" placeholder="Apellido"></b-input>
                <p v-show="errors.length" class="help is-danger">Apellido no válido</p>
              </ValidationProvider>
            </b-field>
          </b-field>
        </b-field>

        <b-field grouped>
          <b-field expanded label="Profesión*">
            <ValidationProvider name="Profession" rules="required|alpha" v-slot="{ errors }">
              <b-input expanded v-model="founder.profession"></b-input>

              <p v-show="errors.length" class="help is-danger">Profesión no válida</p>
            </ValidationProvider>
          </b-field>

          <b-field expanded label="Móvil*">
            <ValidationProvider name="Phone" rules="required|numeric" v-slot="{ errors }">
              <b-input expanded v-model="founder.phone"></b-input>

              <p v-show="errors.length" class="help is-danger">Móvil no válido</p>
            </ValidationProvider>
          </b-field>
        </b-field>

        <b-field grouped>
          <b-field expanded label="Email*">
            <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
              <b-input expanded v-model="founder.email"></b-input>

              <p v-show="errors.length" class="help is-danger">Email no válido</p>
            </ValidationProvider>
          </b-field>

          <b-field expanded label="Linkedin">
            <b-input expanded v-model="founder.linkedin"></b-input>
          </b-field>
        </b-field>
        <b-field label="Dirección de la compañía">
          <b-input expanded v-model="companyAddress.address" placeholder="Dirección, 1"></b-input>
        </b-field>
        <b-field grouped>
          <b-field expanded>
            <b-input expanded v-model="companyAddress.city" placeholder="Ciudad"></b-input>
          </b-field>
          <b-field expanded>
            <b-input
              expanded
              v-model="companyAddress.region"
              placeholder="Estado / Provincia / Región"
            ></b-input>
          </b-field>
        </b-field>

        <b-field grouped>
          <b-field expanded>
            <b-input expanded v-model="companyAddress.postCode" placeholder="Código Postal"></b-input>
          </b-field>
          <b-field expanded>
            <b-input expanded v-model="companyAddress.country" placeholder="País"></b-input>
          </b-field>
        </b-field>

        <b-field label="¿Cómo nos conociste?">
          <b-input
            expanded
            v-model="howMet"
            placeholder="Website / Red social / Buscador / Ecobanka / Otro"
          ></b-input>
        </b-field>
        <b-field label="Información adicional que te gustaría que supiéramos">
          <b-input expanded v-model="additionalInfo" type="textarea"></b-input>
        </b-field>
        <b-button class="is-pulled-left" @click.prevent="save">Guardar</b-button>
        <b-button class="is-pulled-left" type="is-primary" @click="previous">Anterior</b-button>

        <b-button class="is-pulled-right" type="is-primary" native-type="submit">Siguiente</b-button>
      </form>
    </ValidationObserver>
  </section>
</template>
<script>
import { ValidationProvider, extend, ValidationObserver } from "vee-validate";
import {
  required,
  alpha,
  numeric,
  email,
  confirmed
} from "vee-validate/dist/rules";

extend("required", {
  ...required
});

extend("alpha", {
  ...alpha
});

extend("numeric", {
  ...numeric
});

extend("email", {
  ...email
});

extend("confirmed", {
  ...confirmed
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      founder: {
        name: null,
        surname: null,
        profession: null,
        phone: null,
        email: null,
        linkedin: null
      },
      companyAddress: {
        address: null,
        number: null,
        region: null,
        postCode: null,
        country: null
      },
      howMet: null,
      additionalInfo: null
    };
  },
  methods: {
    validateBeforeSubmit() {
      console.log(this.$data);
      this.$emit("next");
    },

    save() {
      console.log("saved");
    },
    previous() {
      this.$emit("previous");
    }
  }
};
</script>

<style scoped></style>
