<template>
  <section class="colored section">
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(validateBeforeSubmit)">
        <h2 class="title">3 Detalles Financieros</h2>
        <p>Los campos marcados con asterisco (*) son obligatorios.</p>

        <br />
        <br />

        <b-field expanded label="¿Qué financiación estás buscando?">
          <b-input expanded v-model="financingType"></b-input>
        </b-field>
        <b-field expanded label="Ingresos (Anuales)">
          <b-input expanded v-model="income"></b-input>
        </b-field>
        <b-field expanded label="Gastos (Anuales)">
          <b-input expanded v-model="expenses"></b-input>
        </b-field>

        <b-button class="is-pulled-left" @click.prevent="save">Guardar</b-button>
        <b-button class="is-pulled-left" type="is-primary" @click="previous">Anterior</b-button>
        <b-button class="is-pulled-right" type="is-primary" native-type="submit">Siguiente</b-button>
      </form>
    </ValidationObserver>
  </section>
</template>
<script>
import { ValidationObserver } from "vee-validate";
export default {
  components: {
    ValidationObserver
  },
  data() {
    return {
      financingType: null,
      income: null,
      expenses: null
    };
  },
  methods: {
    validateBeforeSubmit() {
      console.log(this.$data);
      this.$emit("next");
    },

    save() {
      console.log("saved");
    },
    previous() {
      this.$emit("previous");
    }
  }
};
</script>

<style scoped></style>
