<template>
  <section class="colored section">
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(validateBeforeSubmit)">
        <h2 class="title">4 Subir archivos</h2>
        <p class="squared">
          Presentación corporativa de la empresa
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Pitch deck, investor deck, business plan del proyecto o memorándum
          ejecutivo
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Dos últimas auditoriías o impuestos de sociedades anuales presentados
          en vigor
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Balance de situación y cuentas de explotación actualizadas (del año en
          curso)
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Pool financiero en vigor actualizado (detallado por institución, tipo
          de deuda e importe)
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Listado de principales clientes (detallado de negocio anual por
          cliente)
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Listado de principales proveedores (detallado de negocio anual por
          proveedor)
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Otros documentos de interés mercantil
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Otros hechos relevantes en su actividad
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <p class="squared">
          Requerimiento de información adicional
          <b-icon class="is-pulled-left" expanded icon="upload"></b-icon>
          <b-icon class="is-pulled-right" icon-right expanded icon="info"></b-icon>
        </p>
        <br />
        <b-field expanded label="Enlace para descargar información solicitada de la nube">
          <b-input
            expanded
            v-model="infoLink"
            placeholder="OneDrive / Drive / Dropbox / Amazon / otro"
          ></b-input>
        </b-field>
        <b-button class="is-pulled-left" @click.prevent="save">Guardar</b-button>
        <b-button class="is-pulled-left" type="is-primary" @click="previous">Anterior</b-button>
        <b-button class="is-pulled-right" type="is-primary" native-type="submit">Presentar</b-button>
      </form>

      <b-modal :active.sync="isCardModalActive" :width="640" scroll="keep">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src alt="Tick" />
                </figure>
              </div>
              <div class="content">
                <p>Gracias,</p>
                <p>
                  Los datos del nuevo proyecto de Emprendedor o Compañía directa
                  han sido rellenados correctamente.
                </p>
                <p>
                  En breve, un Director corporativo asignado al proyecto se
                  pondrá en contacto para informarle del proceso.
                </p>
                <p>Atentamente</p>
                <p>The Team</p>
              </div>
            </div>
          </div>
        </div>
      </b-modal>
    </ValidationObserver>
  </section>
</template>
<script>
import { ValidationObserver } from "vee-validate";
export default {
  components: {
    ValidationObserver
  },
  data() {
    return {
      infoLink: null,
      isCardModalActive: false
    };
  },
  methods: {
    validateBeforeSubmit() {
      this.$data.isCardModalActive = true;
      console.log(this.$data);
    },

    save() {
      console.log("saved");
    },
    previous() {
      this.$emit("previous");
    }
  }
};
</script>

<style scoped>
p.squared {
  border: 1px;
  border-style: solid;
  border-color: #8c67ef;
}
</style>
